<div id="{{ block_id }}">
    {{ text|default_if_none:""|safe }}
    {% comment %}
    {% if can_edit and id %}
        <p><a href="{% url 'admin:blocks_siteblock_change' id %}">Редактировать</a></p>
    {% endif %}
    {% endcomment %}
</div>
